.ConfigGroup {

    &:not(:first-child) {
        border-top:3px dashed #ccc;
    }
    
    padding:.5em;
    margin:.5em;


    .Form.prompt {
        
        .numbers {
            display:flex;
            gap:1em;
        }

        .Field {
            max-width:100%;
        }

    }
    
    .actions {
        display:flex;
        justify-content: flex-start;
        align-items: center;
        
        gap:1em;
        

        .Caption {
            margin:0;
        }
    }
}