.ConfigGroup {

    border:1px dashed gray;
    padding:.5em;
    margin:.5em;


    .Form.prompt {

        .Field {
            max-width:100%;
        }

    }
    
    .actions {
        display:flex;
        justify-content: flex-start;
        align-items: center;
        
        gap:1em;
        

        .Caption {
            margin:0;
        }
    }
}