.SureRemove {
    display:flex;
    flex-direction:column;
    gap:1em;
    align-items: center;
    padding:1em;

    .controls {
        display:Flex;
        gap:1em;
    }

    .text {
        font-style: italic;
        font-size:.8em;
    }
}